
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top:20px" class="alert alert-danger">
    <h2 class="text-danger">An error occurred while processing your request.</h2><br />
    <a href="javascript:history.go(-1);">Go Back</a>
</div>

